.about-title {
  color: var(--colour-dark-orange);
  font-size: 2.8rem;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  margin: 0 0 1rem 0;
}

.about-regular-text {
    color: #23489E;
    font-size: 1.25em;
    line-height: 1.6;
    text-align: justify;
    margin: 0.5em 0;
}

.about-regular-TwoCols-text {
    color: #23489E;
    font-size: 1.25em;
    line-height: 1.6;
    text-align: justify;
}

.about-section {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10vh auto;
  position: relative;
}

.about-two-cols {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.about-img {
  width: 80%;
  border-radius: 2em;
}

@media (min-width: 740px) {
  .about-section {
    max-width: 1400px;
  }

  .about-two-cols {
    flex-direction: row;
    gap: 3rem;
  }

  .about-img {
    width: 50%;
  }
}

.about-project-button {
  background-color: var(--colour-dark-orange);
  border: none;
  border-radius: 1.25rem;
  color: white;
  cursor: pointer;
  font-size: 1em;
  font-weight: bold;
  height: 2.5rem;
  padding: 0 1rem;
  white-space: nowrap;
  margin-top: 1rem;
}