.about-title {
  color: var(--colour-dark-orange);
  font-size: 2.8rem;
  font-weight: 600;
  margin: 0 0 24px 0;
  text-align: center;
}

.about-title-mobile {
  color: var(--colour-dark-orange);
  font-size: 2rem;
  font-weight: 600;
  margin: 0 0 24px 0;
  text-align: center;
}

.about-regular-text {
    color: #23489E;
    font-size: 1.5em;
    line-height: 1.6;
    margin-bottom: 1.5em;
    margin-left: 2em;
    margin-right: 2em;
    text-align: justify;
}

.about-regular-TwoCols-text {
    color: #23489E;
    font-size: 1.5em;
    line-height: 1.6;
    margin-bottom: 1.5em;
    margin-left: 1.25em;
    margin-right: 1.25em;
    text-align: justify;
}