.contact-section {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 60vh;
  padding: 10vh 0;
  position: relative;
}

.contact-h2 {
  color: var(--colour-dark-orange);
  font-size: 4em;
  line-height: 0.9;
  margin-bottom: 0.25em;
  margin-top: 0;
}

.contact-email {
  color: var(--colour-dark-orange);
  font-size: 4em;
  font-style: italic;
  font-weight: bold;
  text-decoration: underline;
  width: fit-content;
  word-break: break-all;
  line-height: 0.9;
}

@media (min-width: 740px) {
  .contact-section {
    min-height: calc(80vh - 80px);
    max-width: 1400px;
    margin: 0 auto;
  }
}