.contact-section {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 60vh;
  padding: 10vh 0;
  position: relative;
}

.contact-h3 {
  color: var(--colour-dark-orange);
  font-size: 2.5em;
  line-height: 1;
  margin-bottom: 0.25em;
  margin-top: 0;
  text-align: center;
}

.contact-email {
  color: var(--colour-dark-orange);
  font-size: 4em;
  font-style: italic;
  font-weight: bold;
  text-decoration: underline;
  width: fit-content;
  word-break: break-all;
  line-height: 0.9;
}

@media (min-width: 740px) {
  .contact-section {
    min-height: calc(80vh - 80px);
    max-width: 1400px;
    margin: 0 auto;
  }
}

.contact, .us{
  font-weight: 600 !important;
}

.subtext{
  font-size: 1.5em !important;
  padding-bottom: 5rem !important;
}

.contact-button {
  background-color: var(--colour-dark-orange);
  border: none;
  border-radius: 1.5em;
  color: white;
  cursor: pointer;
  font-size: 1em;
  font-weight: bold;
  height: 3em;
  padding: 0 1em;
  white-space: nowrap;
}