.projects-section {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5vh 0 10vh 0;
  position: relative;
}

@media (min-width: 740px) {
  .projects-section {
    max-width: 1400px;
    margin: 0 auto;
  }
}

.semester-title {
  color: var(--colour-dark-orange);
  font-size: 2.8rem;
  font-weight: 600;
  margin: 0 0 24px 0;
  text-align: center;
}

.semester-title-mobile {
  color: var(--colour-dark-orange);
  font-size: 2rem;
  font-weight: 600;
  margin: 0 0 24px 0;
  text-align: center;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 40px 24px;
  justify-items: center;
  margin: 3rem 0 7rem 0;
}

.cards-container-mobile {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 40px 24px;
  justify-items: center;
  margin-bottom: 6rem;
}

.semester-button {
  background-color: var(--colour-tan);
  border: none;
  border-radius: 24px;
  color: var(--colour-blue);
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0 10px;
  padding: 14px 24px;
  transition: background-color 0.3s, color 0.3s;
}

.semester-buttons {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-top: 6rem;
  margin-bottom: 2rem;
}

@media (max-width: 740px) {
  .semester-buttons {
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;
    margin: 4rem 0 0;
  }
}

.semester-button:hover {
  background-color: var(--colour-dark-orange);
  color: white;
}