.projects-section {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 60vh;
  padding: 10vh 10vw;
  position: relative;
}

.semester-title {
  color: var(--colour-dark-orange);
  font-size: 3rem;
  font-weight: 700;
  margin: 0 0 24px 0;
  text-align: center;
}

.semester-title-mobile {
  color: var(--colour-dark-orange);
  font-size: 2rem;
  font-weight: 700;
  margin: 0 0 24px 0;
  text-align: center;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 24px;
  justify-items: center;
  margin-bottom: 6rem;
}

.cards-container-mobile {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 24px;
  justify-items: center;
  margin-bottom: 6rem;
}