.projects-section {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5vh 0 10vh 0;
  position: relative;
}

@media (min-width: 740px) {
  .projects-section {
    max-width: 1400px;
    margin: 0 auto;
  }
}

.projects-h1 {
  color: var(--colour-dark-orange);
  font-size: 2.8rem;
  font-weight: 600;
  margin: 0 0 24px 0;
  text-align: center;
}

@media(max-width: 740px){
  .projects-h1{
    font-size: 2rem;
  }
}

.projects-cta {
  background-color: var(--colour-dark-orange);
  border: none;
  border-radius: 30px;
  color: var(--colour-light-tan);
  font-size: 1.2rem;
  font-weight: 500;
  margin: 0 auto;
  text-align: center;
}

.projects-cta-link {
  display: block;
  padding: 20px 24px;
}

.projects-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-bottom: 5rem;
  justify-content: center;
}

.partner-logo {
  border-radius: 2rem;
}



@media(max-width: 740px){

  .example-image{
    width: 100%;
    height: 100%;
    padding-bottom: 2rem;
  }
}

.project-highlight {
  background-color: var(--colour-tan);
  border-radius: 2rem;
  padding: 0.5rem 2rem;
  width: 300px;
}

.project-highlight-title {
  color: var(--colour-dark-orange);
}

.project-highlight-blurb {
  color: var(--colour-blue);
  text-align: center;
}

.project-subheading-text {
    color: #23489E;
    font-size: 1.25em;
    font-weight: bold;
    line-height: 1.15;
    text-align: center;
    margin: 0.5em 0;
}

.projects-expanded-container{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

}