.container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding-top: 80px;
  min-height: 100svh;
}

.main {
  flex-grow: 1;
  padding: 10px;
}

body{
  padding: 0;
  margin: 0;
}