.exec-grid {
  display: flex;
  justify-content: space-evenly;
  z-index: 10;
  height: auto;
  flex-direction: row;
  flex-wrap: wrap;
  top: -130px;
  position: relative;
}

.page-container{
  width: 100%;
}

.header{
  background-color: #F4D39B;
}

.page-title {
  color: var(--colour-dark-orange);
  font-weight: normal;
  font-size: 60px;
  padding-left: 50px;
  font-weight: 600;
}


.first-dots {
  z-index: 0;
  position: absolute;
  height: 643px;
  left: -400px;
  top: 300px;
}

.second-dots {
  z-index: 0;
  position: absolute;
  height: 989px;
  rotate: 30deg;
  left: 1100px;
  top: 1200px;
}

.third-dots {
  z-index: 0;
  position: absolute;
  height: 642px;
  top: 3700px;
  left: -300px;
}
.fourth-dots {
  z-index: 0;
  position: absolute;
  height: 366px;
  rotate: -30deg;
  left: 1600px;
  top: 3200px;
}
