.card {
  border-radius: 16px;
  padding: 20px;
  background-color: var(--colour-tan);
  max-width: 320px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.card-image {
  width: 100%;
  border-radius: 12px;
  margin-bottom: 16px;
  object-fit: cover;
}

.exec-card-blurb{
  padding: 20px;
}

.name{
  color: var(--colour-dark-orange);
}

.execImg {
    -webkit-mask: url('/blob.svg');
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    height: 630px;
    margin-top: 10px;

}

.name-and-degree{
  display: flex;
  flex-direction: column;
}

.role{
  color: var(--colour-dark-orange);
}

.execCard {
  border-radius: 16px;
  max-width: 650px;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: top;
    
}

.card-title {
  color: var(--colour-blue);
  margin: 0 0 12px 0;
  font-size: 1.25rem;
  font-weight: 600;
  text-align: left;
}

.card-blurb {
  color: var(--colour-blue);
  font-size: 1rem;
  margin: 0;
  text-align: left;
}