.card {
  border-radius: 16px;
  padding: 20px;
  background-color: var(--colour-tan);
  max-width: 320px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.card-image {
  width: 100%;
  border-radius: 12px;
  margin-bottom: 16px;
  object-fit: cover;
}



.name, .role{
  color: var(--colour-dark-orange);
  font-weight: 600 !important;
  font-size: 2.8rem !important;
}

.degree, .quote{
  font-size: 1.5em !important;
}

.execImg {
    -webkit-mask: url('/blob.svg');
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    height: 630px;
    margin-top: 10px;

}

.name-and-degree{
  display: flex;
  flex-direction: column;
}

.role{
  padding-bottom: 10px;
  padding-top: 30px;
}

.execCard {
  border-radius: 16px;
  max-width: 650px;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: top;
    
}

.card-title {
  color: var(--colour-blue);
  margin: 0 0 12px 0;
  font-size: 1.25rem;
  font-weight: 600;
  text-align: left;
}

.card-blurb {
  color: var(--colour-blue);
  font-size: 1rem;
  text-align: left;
}

.exec-card-blurb p { 
  margin-top:10px;
  margin: 0.75rem;
  font-size: 40px;
  padding-left: 1rem;
  padding-right: 1rem;
}