.title-wrapper p{
    font-size: 1.5em;
    color: var(--colour-dark-orange);
}

.contact-form-wrapper{
    border-color: var(--colour-dark-orange);
}

textarea{
    resize:none;
    border-color: var(--colour-dark-orange);
    border-radius: 40px;
    font-family: inherit;
    font-size: 16px;
    vertical-align: middle;
    padding-top: 13px;
    padding-left: 10px;
    background-color: var(--colour-tan);
}

.email{
    height: 2.25rem !important;
    width: 30vw;
}

.subject{
    height: 2.25rem !important;
    width: 65vw;
}

.message{
    border-radius: 1rem;
    height: 10rem !important;
    width: 65vw;
}

.send-button{
    height: 3rem;
    border-radius: 3rem;
    border-width: 0;
    width: 10rem;
    background-color: var(--colour-dark-orange);
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.subtext{
    font-size: 35px;
    color: var(--colour-blue);
    padding-bottom: 1rem;
}

.contact{
    font-size: 90px;
    font-weight: 500;
    color: var(--colour-dark-orange);
}
.us{
    font-size: 90px;
    font-weight: 500;
    color: var(--colour-blue)
}

.contact-form-container{
    padding-top:2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.join-us-wrapper{
    padding-top: 5rem;
    font-size: 2em;
    color: var(--colour-blue);
    padding-bottom: 1rem;
}

#contact-form{
    padding-bottom: 5rem;
}