.execImg {
    mask: url('/blob.svg');
    -webkit-mask: url('/blob.svg');
    mask-size: contain;
    -webkit-mask-size: contain;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-position: center;
    height: 623px;
}

.card {
    justify-content: center;
    width: 1000px;
}

.teamWrapper {
    width: 100vw;
}