.footer {
  align-items: center;
  background-color: var(--colour-blue);
  box-sizing: border-box;
  color: var(--colour-tan);
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  padding: 10px;
  padding-bottom: 20px;
  position: relative;
}

.wave {
  left: 0;
  position: absolute;
  top: -40px;
  z-index: 500;
}

.footer-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: space-between;
  margin-top: 1em;
  width: 100%;
}

.footer-ul {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 0.25em;
}

.footer-text {
  font-style: normal;
  text-align: center;
  margin: 0;
  line-height: 1.25;
}

@media (min-width: 740px) {
  .footer {
    align-items: start;
    padding: 10px max(10px, calc((100% - 1400px) / 2));
    padding-bottom: 20px;
  }

  .footer-content {
    align-items: end;
    flex-direction: row;
    margin-top: 0;
  }

  .footer-text {
    text-align: left;
  }
}