.header {
  align-items: center;
  background-color: var(--colour-light-tan);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 80px;
  padding: 10px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.scrolled {
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.15);
}

.header-nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.header-ul {
  display: flex;
  gap: 20px;
  margin: 0 20px;
}

.mobile-menu {
  align-items: center;
  background-color: var(--colour-light-tan);
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  flex-direction: column;
  font-size: 1.5em;
  gap: 1em;
  margin: 0;
  padding: 20px 10px;
  position: fixed;
  left: 0;
  top: 80px;
  width: 100%;
}

.mobile-menu .header-button {
  font-size: 0.75em;
  position: relative;
  top: -0.25em;
}

.header-a {
  color: var(--colour-dark-orange);
  font-weight: bold;
}

.header-a.active {
  border-bottom: 3px solid var(--colour-dark-orange);
}

.header-button {
  background-color: var(--colour-dark-orange);
  border: none;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  font-size: 1em;
  font-weight: bold;
  height: 40px;
  padding: 0 20px;
  white-space: nowrap;
}

.hamburger {
  background-color: transparent;
  border: none;
  color: var(--colour-dark-orange);
  cursor: pointer;
  padding: 0;
}

@media (min-width: 740px) {
  .header {
    padding: 0 max(10px, calc((100% - 1400px) / 2));
  }
}