:root {
  --colour-blue: #233D80;
  --colour-light-tan: #F9EBD4;
  --colour-tan: #F4D39B;
  --colour-orange: #EAAA60;
  --colour-dark-orange: #C8692E;
}

body {
  background-color: var(--colour-light-tan);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  line-height: 0;
  text-decoration: none;
}

svg {
  display: inline-block;
  vertical-align: middle;
}