:root {
  --colour-blue: #233D80;
  --colour-light-tan: #F9EBD4;
  --colour-tan: #F4D39B;
  --colour-orange: #EAAA60;
  --colour-dark-orange: #C8692E;
}

html {
  overflow-x: hidden;
}

body {
  background-color: var(--colour-light-tan);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  line-height: 0;
  text-decoration: none;
}

svg {
  display: inline-block;
  vertical-align: middle;
}


.blob {
  position: absolute;
  z-index: -1;
}

.blob.dark-orange {
  filter: brightness(0) saturate(100%) invert(54%) sepia(89%) saturate(2062%) hue-rotate(345deg) brightness(85%) contrast(82%);
}

.blob.orange {
  filter: brightness(0) saturate(100%) invert(95%) sepia(78%) saturate(3690%) hue-rotate(311deg) brightness(96%) contrast(89%);
}

.blob.blue {
  filter: brightness(0) saturate(100%) invert(19%) sepia(76%) saturate(1180%) hue-rotate(199deg) brightness(94%) contrast(92%);
}

.blob.tan {
  filter: brightness(0) saturate(100%) invert(81%) sepia(30%) saturate(405%) hue-rotate(354deg) brightness(103%) contrast(91%);
}